# Market basket analysis using bayseian network

This project aims to predict which previously purchased products will be in a userâ€™s next order.  

We tackle this by creating a Bayesian Belief network to analyze the behavior of the customers, and predict their next purchase, along with the order in which they are bought in that transaction.  

More details on this problem is provided on the Kaggle challenge page. https://www.kaggle.com/c/instacart-market-basket-analysis/

## Review of past techniques

The Instacart dataset is one of the most popular datasets, and the ML community has attempted numerous techniques to maximise the performance of their algorithm. Prior to the release of the dataset, Instacart used  XGBoost, word2vec and Annoy in production [link](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2). Some of the algorithms attempted by previous works are Gradient boosting machines, XGBoost and Catboost. Some of the more compute intensive algorithms used were ensemble methods and recurrent neural networks(RNNs). An overview is listed [here](https://www.kaggle.com/c/instacart-market-basket-analysis/discussion/36848).

One of the attempts that caught our attention was the Bayesian network by Mr Jon Jones. It was appealing because it seemed a very intuitive approach. Having used services similar to Instacart before, we realised that there are certain factors that strongly influence our purchase of goods. Therefore, we decided to help further the efforts of Mr Jones.

This project aims to help implement his solution [Calculate a Prior and Bayes Factors](https://www.kaggle.com/johnoliverjones/calculate-a-prior-and-bayes-factors-0-318)
 and get it running completely.

## Overview
This file uses p(reordered|product_id) derived from order_products__prior data as a **Prior**. This is to be used in Bayesian Updating of our Prior: our_products_prior['prob_reordered'].  

The notion is that after calculating Bayes Factors for each test product purchase the final probability that a product will be reordered is the **Posterior** probability.  Beginning when a product is first purchased (say order k of n total orders) then the **Posterior = BFn x BFn-1 x ... x BFk x Prior**.

Many others here have noticed the correlation between reordered and add_to_cart_order and aisle. I have added an engineered factor I call reorder_count (or count of reordered items in a cart). Using these three variables, I have derived a simple Augmented Naive Bayesian Network as a model to calculate the Bayes Factors for updating.

![Bayesian Network model of reordered][1]

by Jones. A deeper understanding is found in [Bayesian Solution: updating beliefs with 'real' data](https://www.kaggle.com/c/instacart-market-basket-analysis/discussion/36312)

  [1]: http://elmtreegarden.com/wp-content/uploads/2017/07/Augmented-Naive-Bayesian-Network.png

## Downloading the data

The data is a public dataset released by Instacart, a large same-day grocery delivery service.  
We will use the dataset provided at https://www.instacart.com/datasets/grocery-shopping-2017 and store this in our directory that consists this notebook file.

Reading the data and Checking the contents below.

In [1]:
import pandas as pd
import numpy as np
import operator

# reading data

# directory = 'instacart_2017_05_01/'
directory = '/home/rs5788/instacart/'

print('Loading prior orders')
prior_orders = pd.read_csv(directory + 'order_products__prior.csv', dtype={
        'order_id': np.int32,
        'product_id': np.int32,
        'add_to_cart_order': np.int16,
        'reordered': np.int8})

print('Loading orders')
orders = pd.read_csv(directory + 'orders.csv', dtype={
        'order_id': np.int32,
        'user_id': np.int32,
        'eval_set': 'category',
        'order_number': np.int16,
        'order_dow': np.int8,
        'order_hour_of_day': np.int8,
        'days_since_prior_order': np.float32})

print('Loading aisles info')
aisles = pd.read_csv(directory + 'products.csv', engine='c',
                           usecols = ['product_id','aisle_id'],
                       dtype={'product_id': np.int32, 'aisle_id': np.int32})

pd.set_option('display.float_format', lambda x: '%.3f' % x)

print("\n Checking the loaded CSVs")
print("Prior orders:", prior_orders.shape)
print("Orders", orders.shape)
print("Aisles:", aisles.shape)

Loading prior orders
Loading orders
Loading aisles info

 Checking the loaded CSVs
Prior orders: (32434489, 4)
Orders (3421083, 7)
Aisles: (49688, 2)

## Visualizing the tables

In [2]:
prior_orders.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [3]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,nan
1,2398795,1,prior,2,3,7,15.000
2,473747,1,prior,3,3,12,21.000
3,2254736,1,prior,4,4,7,29.000
4,431534,1,prior,5,4,15,28.000

In [4]:
aisles.head()

   product_id  aisle_id
0           1        61
1           2       104
2           3        94
3           4        38
4           5         5

In [5]:
# removing all user_ids not in the test set from both files to save memory
# the test users present ample data to make models. (and saves space)

test  = orders[orders['eval_set'] == 'test' ]
user_ids = test['user_id'].values
orders = orders[orders['user_id'].isin(user_ids)]

test.shape

(75000, 7)

## Calculate the initial Informed Prior  
## $$ p(reordered\ |\ product\_id) $$

In [6]:
# Calculate the Prior : p(reordered|product_id)

prior = pd.DataFrame(prior_orders.groupby('product_id')['reordered']     \
                     .agg([('number_of_orders',len),('sum_of_reorders','sum')]))

prior['prior_p'] = (prior['sum_of_reorders']+1)/(prior['number_of_orders']+2) # Informed Prior
# prior['prior_p'] = 1/2  # Flat Prior
# prior.drop(['number_of_orders','sum_of_reorders'], axis=1, inplace=True)

print('Here is The Prior: our first guess of how probable it is that a product be reordered once it has been ordered.')
prior.head()

Here is The Prior: our first guess of how probable it is that a product be reordered once it has been ordered.

            number_of_orders  sum_of_reorders  prior_p
product_id
1                       1852         1136.000    0.613
2                         90           12.000    0.141
3                        277          203.000    0.731
4                        329          147.000    0.447
5                         15            9.000    0.588

In [7]:
# merge everything into one dataframe and save any memory space

comb = pd.DataFrame()
comb = pd.merge(prior_orders, orders, on='order_id', how='right')

# slim down comb - 
comb.drop(['eval_set','order_dow','order_hour_of_day'], axis=1, inplace=True)
del prior_orders
del orders

comb = pd.merge(comb, aisles, on ='product_id', how = 'left')
del aisles

prior.reset_index(inplace = True)
comb = pd.merge(comb, prior, on ='product_id', how = 'left')
del prior

print('combined data in DataFrame comb')
comb.head()

combined data in DataFrame comb

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,days_since_prior_order,aisle_id,number_of_orders,sum_of_reorders,prior_p
0,13,17330.000,1.000,0.000,45082,2,1.000,27.000,484.000,323.000,0.667
1,13,27407.000,2.000,0.000,45082,2,1.000,51.000,976.000,373.000,0.382
2,13,35419.000,3.000,0.000,45082,2,1.000,124.000,1244.000,701.000,0.563
3,13,196.000,4.000,0.000,45082,2,1.000,77.000,35791.000,27791.000,0.776
4,13,44635.000,5.000,0.000,45082,2,1.000,51.000,701.000,237.000,0.339

## Building factors
Build the factors needed for a model of probability of reordered. This model forms our
hypothesis H and allows the calculation of each Bayes Factor:  

$$ BF = p(e|H)/(1-p(e|H)) $$  
where e is the test user product buying history. See DAG of model above.  

We discretize reorder count into categories, 9 buckets, being sure to include 0 as bucket. These bins maximize mutual information with ['reordered'].

In [8]:
recount = pd.DataFrame()
recount['reorder_c'] = comb.groupby(comb.order_id)['reordered'].sum().fillna(0)
bins = [-0.1, 0, 2,4,6,8,11,14,19,71]
cat =  ['None','<=2','<=4','<=6','<=8','<=11','<=14','<=19','>19']
recount['reorder_b'] = pd.cut(recount['reorder_c'], bins, labels = cat)
recount.reset_index(inplace = True)

comb = pd.merge(comb, recount, how = 'left', on = 'order_id')
del recount
comb.head(50)

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,days_since_prior_order,aisle_id,number_of_orders,sum_of_reorders,prior_p,reorder_c,reorder_b
0,13,17330.000,1.000,0.000,45082,2,1.000,27.000,484.000,323.000,0.667,0.000,None
1,13,27407.000,2.000,0.000,45082,2,1.000,51.000,976.000,373.000,0.382,0.000,None
2,13,35419.000,3.000,0.000,45082,2,1.000,124.000,1244.000,701.000,0.563,0.000,None
3,13,196.000,4.000,0.000,45082,2,1.000,77.000,35791.000,27791.000,0.776,0.000,None
4,13,44635.000,5.000,0.000,45082,2,1.000,51.000,701.000,237.000,0.339,0.000,None
5,13,26878.000,6.000,0.000,45082,2,1.000,64.000,217.000,124.000,0.571,0.000,None
6,13,25783.000,7.000,0.000,45082,2,1.000,64.000,2773.000,1472.000,0.531,0.000,None
7,13,41290.000,8.000,0.000,45082,2,1.000,31.000,19692.000,13173.000,0.669,0.000,None
8,13,33198.000,9.000,0.000,45082,2,1.000,115.000,42934.000,31500.000,0.734,0.000,None
9,13,23020.000,10.000,0.000,45082,2,1.000,77.000,1928.000,1182.000,0.613,0.000,None
10,13,36086.000,11.000,0.000,45082,2,1.000,108.000,7167.000,2890.000,0.403,0.000,None
11,13,3800.000,12.000,0.000,45082,2,1.000,108.000,3269.000,1727.000,0.528,0.000,None
12,13,25952.000,13.000,0.000,45082,2,1.000,107.000,3900.000,2069.000,0.530,0.000,None
13,15,19660.000,1.000,1.000,54901,51,2.000,115.000,56087.000,45558.000,0.812,5.000,<=6
14,15,21195.000,2.000,1.000,54901,51,2.000,19.000,13216.000,6506.000,0.492,5.000,<=6
15,15,7461.000,3.000,1.000,54901,51,2.000,59.000,4170.000,1984.000,0.476,5.000,<=6
16,15,2996.000,4.000,1.000,54901,51,2.000,25.000,1706.000,510.000,0.299,5.000,<=6
17,15,32463.000,5.000,1.000,54901,51,2.000,25.000,2009.000,616.000,0.307,5.000,<=6
18,16,9755.000,1.000,1.000,174840,18,13.000,23.000,9410.000,5679.000,0.603,1.000,<=2
19,16,25466.000,2.000,0.000,174840,18,13.000,115.000,13494.000,9759.000,0.723,1.000,<=2
20,16,45437.000,3.000,0.000,174840,18,13.000,107.000,4655.000,3335.000,0.716,1.000,<=2
21,18,8021.000,1.000,0.000,118860,3,6.000,54.000,27864.000,16472.000,0.591,10.000,<=11
22,18,34969.000,2.000,1.000,118860,3,6.000,83.000,54409.000,34812.000,0.640,10.000,<=11
23,18,1000.000,3.000,0.000,118860,3,6.000,18.000,2610.000,1065.000,0.408,10.000,<=11
24,18,5212.000,4.000,0.000,118860,3,6.000,123.000,24534.000,18166.000,0.740,10.000,<=11
25,18,36011.000,5.000,1.000,118860,3,6.000,84.000,26591.000,22119.000,0.832,10.000,<=11
26,18,44632.000,6.000,1.000,118860,3,6.000,115.000,75886.000,58513.000,0.771,10.000,<=11
27,18,46969.000,7.000,0.000,118860,3,6.000,24.000,21431.000,14607.000,0.682,10.000,<=11
28,18,27966.000,8.000,0.000,118860,3,6.000,123.000,137057.000,105409.000,0.769,10.000,<=11
29,18,38985.000,9.000,1.000,118860,3,6.000,92.000,4011.000,2365.000,0.590,10.000,<=11
30,18,26648.000,10.000,1.000,118860,3,6.000,24.000,5569.000,2219.000,0.398,10.000,<=11
31,18,48745.000,11.000,0.000,118860,3,6.000,83.000,17257.000,9275.000,0.537,10.000,<=11
32,18,7948.000,12.000,0.000,118860,3,6.000,36.000,21509.000,12117.000,0.563,10.000,<=11
33,18,4802.000,13.000,0.000,118860,3,6.000,66.000,242.000,31.000,0.131,10.000,<=11
34,18,28934.000,14.000,0.000,118860,3,6.000,116.000,15458.000,9440.000,0.611,10.000,<=11
35,18,2116.000,15.000,0.000,118860,3,6.000,59.000,598.000,254.000,0.425,10.000,<=11
36,18,45495.000,16.000,1.000,118860,3,6.000,92.000,1764.000,1040.000,0.589,10.000,<=11
37,18,32018.000,17.000,1.000,118860,3,6.000,92.000,2785.000,1801.000,0.647,10.000,<=11
38,18,27644.000,18.000,0.000,118860,3,6.000,72.000,412.000,107.000,0.261,10.000,<=11
39,18,4656.000,19.000,0.000,118860,3,6.000,88.000,9989.000,4911.000,0.492,10.000,<=11
40,18,9848.000,20.000,0.000,118860,3,6.000,72.000,101.000,23.000,0.233,10.000,<=11
41,18,17568.000,21.000,0.000,118860,3,6.000,117.000,4269.000,2169.000,0.508,10.000,<=11
42,18,23339.000,22.000,0.000,118860,3,6.000,83.000,5355.000,2807.000,0.524,10.000,<=11
43,18,7308.000,23.000,0.000,118860,3,6.000,88.000,2249.000,1238.000,0.550,10.000,<=11
44,18,35547.000,24.000,1.000,118860,3,6.000,83.000,18358.000,11715.000,0.638,10.000,<=11
45,18,33279.000,25.000,0.000,118860,3,6.000,106.000,5116.000,2564.000,0.501,10.000,<=11
46,18,46979.000,26.000,1.000,118860,3,6.000,83.000,67283.000,41585.000,0.618,10.000,<=11
47,18,47766.000,27.000,1.000,118860,3,6.000,24.000,176815.000,134044.000,0.758,10.000,<=11
48,18,1057.000,28.000,0.000,118860,3,6.000,13.000,1048.000,418.000,0.399,10.000,<=11
49,24,40078.000,1.000,0.000,193635,19,0.000,37.000,3573.000,1760.000,0.493,0.000,None

Discretize 'add_to_cart_order' (atco) into categories, 8 buckets.
These bins maximize mutual information with ['recount'].

In [9]:
bins = [0,2,3,5,7,9,12,17,80]
cat = ['<=2','<=3','<=5','<=7','<=9','<=12','<=17','>17']

comb['atco1'] = pd.cut(comb['add_to_cart_order'], bins, labels = cat)
del comb['add_to_cart_order']
print('comb')
comb.head(50)

comb

,order_id,product_id,reordered,user_id,order_number,days_since_prior_order,aisle_id,number_of_orders,sum_of_reorders,prior_p,reorder_c,reorder_b,atco1
0,13,17330.000,0.000,45082,2,1.000,27.000,484.000,323.000,0.667,0.000,None,<=2
1,13,27407.000,0.000,45082,2,1.000,51.000,976.000,373.000,0.382,0.000,None,<=2
2,13,35419.000,0.000,45082,2,1.000,124.000,1244.000,701.000,0.563,0.000,None,<=3
3,13,196.000,0.000,45082,2,1.000,77.000,35791.000,27791.000,0.776,0.000,None,<=5
4,13,44635.000,0.000,45082,2,1.000,51.000,701.000,237.000,0.339,0.000,None,<=5
5,13,26878.000,0.000,45082,2,1.000,64.000,217.000,124.000,0.571,0.000,None,<=7
6,13,25783.000,0.000,45082,2,1.000,64.000,2773.000,1472.000,0.531,0.000,None,<=7
7,13,41290.000,0.000,45082,2,1.000,31.000,19692.000,13173.000,0.669,0.000,None,<=9
8,13,33198.000,0.000,45082,2,1.000,115.000,42934.000,31500.000,0.734,0.000,None,<=9
9,13,23020.000,0.000,45082,2,1.000,77.000,1928.000,1182.000,0.613,0.000,None,<=12
10,13,36086.000,0.000,45082,2,1.000,108.000,7167.000,2890.000,0.403,0.000,None,<=12
11,13,3800.000,0.000,45082,2,1.000,108.000,3269.000,1727.000,0.528,0.000,None,<=12
12,13,25952.000,0.000,45082,2,1.000,107.000,3900.000,2069.000,0.530,0.000,None,<=17
13,15,19660.000,1.000,54901,51,2.000,115.000,56087.000,45558.000,0.812,5.000,<=6,<=2
14,15,21195.000,1.000,54901,51,2.000,19.000,13216.000,6506.000,0.492,5.000,<=6,<=2
15,15,7461.000,1.000,54901,51,2.000,59.000,4170.000,1984.000,0.476,5.000,<=6,<=3
16,15,2996.000,1.000,54901,51,2.000,25.000,1706.000,510.000,0.299,5.000,<=6,<=5
17,15,32463.000,1.000,54901,51,2.000,25.000,2009.000,616.000,0.307,5.000,<=6,<=5
18,16,9755.000,1.000,174840,18,13.000,23.000,9410.000,5679.000,0.603,1.000,<=2,<=2
19,16,25466.000,0.000,174840,18,13.000,115.000,13494.000,9759.000,0.723,1.000,<=2,<=2
20,16,45437.000,0.000,174840,18,13.000,107.000,4655.000,3335.000,0.716,1.000,<=2,<=3
21,18,8021.000,0.000,118860,3,6.000,54.000,27864.000,16472.000,0.591,10.000,<=11,<=2
22,18,34969.000,1.000,118860,3,6.000,83.000,54409.000,34812.000,0.640,10.000,<=11,<=2
23,18,1000.000,0.000,118860,3,6.000,18.000,2610.000,1065.000,0.408,10.000,<=11,<=3
24,18,5212.000,0.000,118860,3,6.000,123.000,24534.000,18166.000,0.740,10.000,<=11,<=5
25,18,36011.000,1.000,118860,3,6.000,84.000,26591.000,22119.000,0.832,10.000,<=11,<=5
26,18,44632.000,1.000,118860,3,6.000,115.000,75886.000,58513.000,0.771,10.000,<=11,<=7
27,18,46969.000,0.000,118860,3,6.000,24.000,21431.000,14607.000,0.682,10.000,<=11,<=7
28,18,27966.000,0.000,118860,3,6.000,123.000,137057.000,105409.000,0.769,10.000,<=11,<=9
29,18,38985.000,1.000,118860,3,6.000,92.000,4011.000,2365.000,0.590,10.000,<=11,<=9
30,18,26648.000,1.000,118860,3,6.000,24.000,5569.000,2219.000,0.398,10.000,<=11,<=12
31,18,48745.000,0.000,118860,3,6.000,83.000,17257.000,9275.000,0.537,10.000,<=11,<=12
32,18,7948.000,0.000,118860,3,6.000,36.000,21509.000,12117.000,0.563,10.000,<=11,<=12
33,18,4802.000,0.000,118860,3,6.000,66.000,242.000,31.000,0.131,10.000,<=11,<=17
34,18,28934.000,0.000,118860,3,6.000,116.000,15458.000,9440.000,0.611,10.000,<=11,<=17
35,18,2116.000,0.000,118860,3,6.000,59.000,598.000,254.000,0.425,10.000,<=11,<=17
36,18,45495.000,1.000,118860,3,6.000,92.000,1764.000,1040.000,0.589,10.000,<=11,<=17
37,18,32018.000,1.000,118860,3,6.000,92.000,2785.000,1801.000,0.647,10.000,<=11,<=17
38,18,27644.000,0.000,118860,3,6.000,72.000,412.000,107.000,0.261,10.000,<=11,>17
39,18,4656.000,0.000,118860,3,6.000,88.000,9989.000,4911.000,0.492,10.000,<=11,>17
40,18,9848.000,0.000,118860,3,6.000,72.000,101.000,23.000,0.233,10.000,<=11,>17
41,18,17568.000,0.000,118860,3,6.000,117.000,4269.000,2169.000,0.508,10.000,<=11,>17
42,18,23339.000,0.000,118860,3,6.000,83.000,5355.000,2807.000,0.524,10.000,<=11,>17
43,18,7308.000,0.000,118860,3,6.000,88.000,2249.000,1238.000,0.550,10.000,<=11,>17
44,18,35547.000,1.000,118860,3,6.000,83.000,18358.000,11715.000,0.638,10.000,<=11,>17
45,18,33279.000,0.000,118860,3,6.000,106.000,5116.000,2564.000,0.501,10.000,<=11,>17
46,18,46979.000,1.000,118860,3,6.000,83.000,67283.000,41585.000,0.618,10.000,<=11,>17
47,18,47766.000,1.000,118860,3,6.000,24.000,176815.000,134044.000,0.758,10.000,<=11,>17
48,18,1057.000,0.000,118860,3,6.000,13.000,1048.000,418.000,0.399,10.000,<=11,>17
49,24,40078.000,0.000,193635,19,0.000,37.000,3573.000,1760.000,0.493,0.000,None,<=2

These are the children Nodes of reordered:atco, aisle, recount. Build occurrence tables
first, then calculate probabilities. Then merge to add atco into comb.

In [10]:
atco_fac = pd.DataFrame()
atco_fac = comb.groupby(['reordered', 'atco1'])['atco1'].agg(np.count_nonzero).unstack('atco1')

tot = pd.DataFrame()
tot = np.sum(atco_fac,axis=1)

atco_fac = atco_fac.iloc[:,:].div(tot, axis=0)
atco_fac = atco_fac.stack('atco1')
atco_fac = pd.DataFrame(atco_fac)
atco_fac.reset_index(inplace = True)
atco_fac.rename(columns = {0:'atco_fac_p'}, inplace = True)

comb = pd.merge(comb, atco_fac, how='left', on=('reordered', 'atco1'))
comb.head(50)

,order_id,product_id,reordered,user_id,order_number,days_since_prior_order,aisle_id,number_of_orders,sum_of_reorders,prior_p,reorder_c,reorder_b,atco1,atco_fac_p
0,13,17330.000,0.000,45082,2,1.000,27.000,484.000,323.000,0.667,0.000,None,<=2,0.152
1,13,27407.000,0.000,45082,2,1.000,51.000,976.000,373.000,0.382,0.000,None,<=2,0.152
2,13,35419.000,0.000,45082,2,1.000,124.000,1244.000,701.000,0.563,0.000,None,<=3,0.074
3,13,196.000,0.000,45082,2,1.000,77.000,35791.000,27791.000,0.776,0.000,None,<=5,0.143
4,13,44635.000,0.000,45082,2,1.000,51.000,701.000,237.000,0.339,0.000,None,<=5,0.143
5,13,26878.000,0.000,45082,2,1.000,64.000,217.000,124.000,0.571,0.000,None,<=7,0.128
6,13,25783.000,0.000,45082,2,1.000,64.000,2773.000,1472.000,0.531,0.000,None,<=7,0.128
7,13,41290.000,0.000,45082,2,1.000,31.000,19692.000,13173.000,0.669,0.000,None,<=9,0.108
8,13,33198.000,0.000,45082,2,1.000,115.000,42934.000,31500.000,0.734,0.000,None,<=9,0.108
9,13,23020.000,0.000,45082,2,1.000,77.000,1928.000,1182.000,0.613,0.000,None,<=12,0.126
10,13,36086.000,0.000,45082,2,1.000,108.000,7167.000,2890.000,0.403,0.000,None,<=12,0.126
11,13,3800.000,0.000,45082,2,1.000,108.000,3269.000,1727.000,0.528,0.000,None,<=12,0.126
12,13,25952.000,0.000,45082,2,1.000,107.000,3900.000,2069.000,0.530,0.000,None,<=17,0.133
13,15,19660.000,1.000,54901,51,2.000,115.000,56087.000,45558.000,0.812,5.000,<=6,<=2,0.222
14,15,21195.000,1.000,54901,51,2.000,19.000,13216.000,6506.000,0.492,5.000,<=6,<=2,0.222
15,15,7461.000,1.000,54901,51,2.000,59.000,4170.000,1984.000,0.476,5.000,<=6,<=3,0.099
16,15,2996.000,1.000,54901,51,2.000,25.000,1706.000,510.000,0.299,5.000,<=6,<=5,0.167
17,15,32463.000,1.000,54901,51,2.000,25.000,2009.000,616.000,0.307,5.000,<=6,<=5,0.167
18,16,9755.000,1.000,174840,18,13.000,23.000,9410.000,5679.000,0.603,1.000,<=2,<=2,0.222
19,16,25466.000,0.000,174840,18,13.000,115.000,13494.000,9759.000,0.723,1.000,<=2,<=2,0.152
20,16,45437.000,0.000,174840,18,13.000,107.000,4655.000,3335.000,0.716,1.000,<=2,<=3,0.074
21,18,8021.000,0.000,118860,3,6.000,54.000,27864.000,16472.000,0.591,10.000,<=11,<=2,0.152
22,18,34969.000,1.000,118860,3,6.000,83.000,54409.000,34812.000,0.640,10.000,<=11,<=2,0.222
23,18,1000.000,0.000,118860,3,6.000,18.000,2610.000,1065.000,0.408,10.000,<=11,<=3,0.074
24,18,5212.000,0.000,118860,3,6.000,123.000,24534.000,18166.000,0.740,10.000,<=11,<=5,0.143
25,18,36011.000,1.000,118860,3,6.000,84.000,26591.000,22119.000,0.832,10.000,<=11,<=5,0.167
26,18,44632.000,1.000,118860,3,6.000,115.000,75886.000,58513.000,0.771,10.000,<=11,<=7,0.130
27,18,46969.000,0.000,118860,3,6.000,24.000,21431.000,14607.000,0.682,10.000,<=11,<=7,0.128
28,18,27966.000,0.000,118860,3,6.000,123.000,137057.000,105409.000,0.769,10.000,<=11,<=9,0.108
29,18,38985.000,1.000,118860,3,6.000,92.000,4011.000,2365.000,0.590,10.000,<=11,<=9,0.099
30,18,26648.000,1.000,118860,3,6.000,24.000,5569.000,2219.000,0.398,10.000,<=11,<=12,0.104
31,18,48745.000,0.000,118860,3,6.000,83.000,17257.000,9275.000,0.537,10.000,<=11,<=12,0.126
32,18,7948.000,0.000,118860,3,6.000,36.000,21509.000,12117.000,0.563,10.000,<=11,<=12,0.126
33,18,4802.000,0.000,118860,3,6.000,66.000,242.000,31.000,0.131,10.000,<=11,<=17,0.133
34,18,28934.000,0.000,118860,3,6.000,116.000,15458.000,9440.000,0.611,10.000,<=11,<=17,0.133
35,18,2116.000,0.000,118860,3,6.000,59.000,598.000,254.000,0.425,10.000,<=11,<=17,0.133
36,18,45495.000,1.000,118860,3,6.000,92.000,1764.000,1040.000,0.589,10.000,<=11,<=17,0.097
37,18,32018.000,1.000,118860,3,6.000,92.000,2785.000,1801.000,0.647,10.000,<=11,<=17,0.097
38,18,27644.000,0.000,118860,3,6.000,72.000,412.000,107.000,0.261,10.000,<=11,>17,0.136
39,18,4656.000,0.000,118860,3,6.000,88.000,9989.000,4911.000,0.492,10.000,<=11,>17,0.136
40,18,9848.000,0.000,118860,3,6.000,72.000,101.000,23.000,0.233,10.000,<=11,>17,0.136
41,18,17568.000,0.000,118860,3,6.000,117.000,4269.000,2169.000,0.508,10.000,<=11,>17,0.136
42,18,23339.000,0.000,118860,3,6.000,83.000,5355.000,2807.000,0.524,10.000,<=11,>17,0.136
43,18,7308.000,0.000,118860,3,6.000,88.000,2249.000,1238.000,0.550,10.000,<=11,>17,0.136
44,18,35547.000,1.000,118860,3,6.000,83.000,18358.000,11715.000,0.638,10.000,<=11,>17,0.083
45,18,33279.000,0.000,118860,3,6.000,106.000,5116.000,2564.000,0.501,10.000,<=11,>17,0.136
46,18,46979.000,1.000,118860,3,6.000,83.000,67283.000,41585.000,0.618,10.000,<=11,>17,0.083
47,18,47766.000,1.000,118860,3,6.000,24.000,176815.000,134044.000,0.758,10.000,<=11,>17,0.083
48,18,1057.000,0.000,118860,3,6.000,13.000,1048.000,418.000,0.399,10.000,<=11,>17,0.136
49,24,40078.000,0.000,193635,19,0.000,37.000,3573.000,1760.000,0.493,0.000,None,<=2,0.152

Calculate other two factors probability tables, then probability and merge into comb

In [11]:
aisle_fac = pd.DataFrame()
aisle_fac = comb.groupby(['reordered', 'atco1', 'aisle_id'])['aisle_id']\
                .agg(np.count_nonzero).unstack('aisle_id')

tot = np.sum(aisle_fac,axis=1)

aisle_fac = aisle_fac.iloc[:,:].div(tot, axis=0)
aisle_fac = aisle_fac.stack('aisle_id')
aisle_fac = pd.DataFrame(aisle_fac)
aisle_fac.reset_index(inplace = True)
aisle_fac.rename(columns = {0:'aisle_fac_p'}, inplace = True)

comb = pd.merge(comb, aisle_fac, how = 'left', on = ('aisle_id','reordered','atco1'))
comb.head(50)

,order_id,product_id,reordered,user_id,order_number,days_since_prior_order,aisle_id,number_of_orders,sum_of_reorders,prior_p,reorder_c,reorder_b,atco1,atco_fac_p,aisle_fac_p
0,13,17330.000,0.000,45082,2,1.000,27.000,484.000,323.000,0.667,0.000,None,<=2,0.152,0.004
1,13,27407.000,0.000,45082,2,1.000,51.000,976.000,373.000,0.382,0.000,None,<=2,0.152,0.003
2,13,35419.000,0.000,45082,2,1.000,124.000,1244.000,701.000,0.563,0.000,None,<=3,0.074,0.001
3,13,196.000,0.000,45082,2,1.000,77.000,35791.000,27791.000,0.776,0.000,None,<=5,0.143,0.011
4,13,44635.000,0.000,45082,2,1.000,51.000,701.000,237.000,0.339,0.000,None,<=5,0.143,0.004
5,13,26878.000,0.000,45082,2,1.000,64.000,217.000,124.000,0.571,0.000,None,<=7,0.128,0.003
6,13,25783.000,0.000,45082,2,1.000,64.000,2773.000,1472.000,0.531,0.000,None,<=7,0.128,0.003
7,13,41290.000,0.000,45082,2,1.000,31.000,19692.000,13173.000,0.669,0.000,None,<=9,0.108,0.014
8,13,33198.000,0.000,45082,2,1.000,115.000,42934.000,31500.000,0.734,0.000,None,<=9,0.108,0.015
9,13,23020.000,0.000,45082,2,1.000,77.000,1928.000,1182.000,0.613,0.000,None,<=12,0.126,0.008
10,13,36086.000,0.000,45082,2,1.000,108.000,7167.000,2890.000,0.403,0.000,None,<=12,0.126,0.010
11,13,3800.000,0.000,45082,2,1.000,108.000,3269.000,1727.000,0.528,0.000,None,<=12,0.126,0.010
12,13,25952.000,0.000,45082,2,1.000,107.000,3900.000,2069.000,0.530,0.000,None,<=17,0.133,0.024
13,15,19660.000,1.000,54901,51,2.000,115.000,56087.000,45558.000,0.812,5.000,<=6,<=2,0.222,0.053
14,15,21195.000,1.000,54901,51,2.000,19.000,13216.000,6506.000,0.492,5.000,<=6,<=2,0.222,0.004
15,15,7461.000,1.000,54901,51,2.000,59.000,4170.000,1984.000,0.476,5.000,<=6,<=3,0.099,0.005
16,15,2996.000,1.000,54901,51,2.000,25.000,1706.000,510.000,0.299,5.000,<=6,<=5,0.167,0.001
17,15,32463.000,1.000,54901,51,2.000,25.000,2009.000,616.000,0.307,5.000,<=6,<=5,0.167,0.001
18,16,9755.000,1.000,174840,18,13.000,23.000,9410.000,5679.000,0.603,1.000,<=2,<=2,0.222,0.005
19,16,25466.000,0.000,174840,18,13.000,115.000,13494.000,9759.000,0.723,1.000,<=2,<=2,0.152,0.028
20,16,45437.000,0.000,174840,18,13.000,107.000,4655.000,3335.000,0.716,1.000,<=2,<=3,0.074,0.020
21,18,8021.000,0.000,118860,3,6.000,54.000,27864.000,16472.000,0.591,10.000,<=11,<=2,0.152,0.012
22,18,34969.000,1.000,118860,3,6.000,83.000,54409.000,34812.000,0.640,10.000,<=11,<=2,0.222,0.075
23,18,1000.000,0.000,118860,3,6.000,18.000,2610.000,1065.000,0.408,10.000,<=11,<=3,0.074,0.000
24,18,5212.000,0.000,118860,3,6.000,123.000,24534.000,18166.000,0.740,10.000,<=11,<=5,0.143,0.050
25,18,36011.000,1.000,118860,3,6.000,84.000,26591.000,22119.000,0.832,10.000,<=11,<=5,0.167,0.036
26,18,44632.000,1.000,118860,3,6.000,115.000,75886.000,58513.000,0.771,10.000,<=11,<=7,0.130,0.027
27,18,46969.000,0.000,118860,3,6.000,24.000,21431.000,14607.000,0.682,10.000,<=11,<=7,0.128,0.081
28,18,27966.000,0.000,118860,3,6.000,123.000,137057.000,105409.000,0.769,10.000,<=11,<=9,0.108,0.052
29,18,38985.000,1.000,118860,3,6.000,92.000,4011.000,2365.000,0.590,10.000,<=11,<=9,0.099,0.014
30,18,26648.000,1.000,118860,3,6.000,24.000,5569.000,2219.000,0.398,10.000,<=11,<=12,0.104,0.119
31,18,48745.000,0.000,118860,3,6.000,83.000,17257.000,9275.000,0.537,10.000,<=11,<=12,0.126,0.113
32,18,7948.000,0.000,118860,3,6.000,36.000,21509.000,12117.000,0.563,10.000,<=11,<=12,0.126,0.008
33,18,4802.000,0.000,118860,3,6.000,66.000,242.000,31.000,0.131,10.000,<=11,<=17,0.133,0.009
34,18,28934.000,0.000,118860,3,6.000,116.000,15458.000,9440.000,0.611,10.000,<=11,<=17,0.133,0.020
35,18,2116.000,0.000,118860,3,6.000,59.000,598.000,254.000,0.425,10.000,<=11,<=17,0.133,0.012
36,18,45495.000,1.000,118860,3,6.000,92.000,1764.000,1040.000,0.589,10.000,<=11,<=17,0.097,0.017
37,18,32018.000,1.000,118860,3,6.000,92.000,2785.000,1801.000,0.647,10.000,<=11,<=17,0.097,0.017
38,18,27644.000,0.000,118860,3,6.000,72.000,412.000,107.000,0.261,10.000,<=11,>17,0.136,0.013
39,18,4656.000,0.000,118860,3,6.000,88.000,9989.000,4911.000,0.492,10.000,<=11,>17,0.136,0.012
40,18,9848.000,0.000,118860,3,6.000,72.000,101.000,23.000,0.233,10.000,<=11,>17,0.136,0.013
41,18,17568.000,0.000,118860,3,6.000,117.000,4269.000,2169.000,0.508,10.000,<=11,>17,0.136,0.014
42,18,23339.000,0.000,118860,3,6.000,83.000,5355.000,2807.000,0.524,10.000,<=11,>17,0.136,0.098
43,18,7308.000,0.000,118860,3,6.000,88.000,2249.000,1238.000,0.550,10.000,<=11,>17,0.136,0.012
44,18,35547.000,1.000,118860,3,6.000,83.000,18358.000,11715.000,0.638,10.000,<=11,>17,0.083,0.121
45,18,33279.000,0.000,118860,3,6.000,106.000,5116.000,2564.000,0.501,10.000,<=11,>17,0.136,0.010
46,18,46979.000,1.000,118860,3,6.000,83.000,67283.000,41585.000,0.618,10.000,<=11,>17,0.083,0.121
47,18,47766.000,1.000,118860,3,6.000,24.000,176815.000,134044.000,0.758,10.000,<=11,>17,0.083,0.097
48,18,1057.000,0.000,118860,3,6.000,13.000,1048.000,418.000,0.399,10.000,<=11,>17,0.136,0.003
49,24,40078.000,0.000,193635,19,0.000,37.000,3573.000,1760.000,0.493,0.000,None,<=2,0.152,0.020

Last factor is reorder_count_factor

In [12]:
   
recount_fac = pd.DataFrame()
recount_fac = comb.groupby(['reordered', 'atco1', 'reorder_b'])['reorder_b']\
                    .agg(np.count_nonzero).unstack('reorder_b')

tot = pd.DataFrame()
tot = np.sum(recount_fac,axis=1)

recount_fac = recount_fac.iloc[:,:].div(tot, axis=0)
recount_fac.stack('reorder_b')
recount_fac = pd.DataFrame(recount_fac.unstack('reordered').unstack('atco1')).reset_index()
recount_fac.rename(columns = {0:'recount_fac_p'}, inplace = True)

comb = pd.merge(comb, recount_fac, how = 'left', on = ('reorder_b', 'reordered', 'atco1'))
recount_fac.head(50)

   reorder_b  reordered atco1  recount_fac_p
0       <=11      0.000  <=12          0.179
1       <=11      0.000  <=17          0.199
2       <=11      0.000   <=2          0.044
3       <=11      0.000   <=3          0.037
4       <=11      0.000   <=5          0.042
5       <=11      0.000   <=7          0.057
6       <=11      0.000   <=9          0.092
7       <=11      0.000   >17          0.115
8       <=11      1.000  <=12          0.226
9       <=11      1.000  <=17          0.111
10      <=11      1.000   <=2          0.130
11      <=11      1.000   <=3          0.151
12      <=11      1.000   <=5          0.176
13      <=11      1.000   <=7          0.219
14      <=11      1.000   <=9          0.270
15      <=11      1.000   >17          0.041
16      <=14      0.000  <=12          0.063
17      <=14      0.000  <=17          0.158
18      <=14      0.000   <=2          0.024
19      <=14      0.000   <=3          0.019
20      <=14      0.000   <=5          0.019
21      <=14      0.000   <=7          0.023
22      <=14      0.000   <=9          0.033
23      <=14      0.000   >17          0.131
24      <=14      1.000  <=12          0.233
25      <=14      1.000  <=17          0.192
26      <=14      1.000   <=2          0.078
27      <=14      1.000   <=3          0.090
28      <=14      1.000   <=5          0.107
29      <=14      1.000   <=7          0.136
30      <=14      1.000   <=9          0.175
31      <=14      1.000   >17          0.067
32      <=19      0.000  <=12          0.030
33      <=19      0.000  <=17          0.092
34      <=19      0.000   <=2          0.019
35      <=19      0.000   <=3          0.014
36      <=19      0.000   <=5          0.013
37      <=19      0.000   <=7          0.014
38      <=19      0.000   <=9          0.018
39      <=19      0.000   >17          0.215
40      <=19      1.000  <=12          0.217
41      <=19      1.000  <=17          0.329
42      <=19      1.000   <=2          0.067
43      <=19      1.000   <=3          0.078
44      <=19      1.000   <=5          0.093
45      <=19      1.000   <=7          0.119
46      <=19      1.000   <=9          0.156
47      <=19      1.000   >17          0.196
48       <=2      0.000  <=12          0.094
49       <=2      0.000  <=17          0.058

We use the factors in comb + the prior_p to update a posterior for each product purchased.

In [13]:
p = pd.DataFrame()
p = (comb.loc[:,'atco_fac_p'] * comb.loc[:,'aisle_fac_p'] * comb.loc[:,'recount_fac_p'])
p.reset_index()
comb['p'] = p

comb.head(30)

,order_id,product_id,reordered,user_id,order_number,days_since_prior_order,aisle_id,number_of_orders,sum_of_reorders,prior_p,reorder_c,reorder_b,atco1,atco_fac_p,aisle_fac_p,recount_fac_p,p
0,13,17330.000,0.000,45082,2,1.000,27.000,484.000,323.000,0.667,0.000,None,<=2,0.152,0.004,0.359,0.000
1,13,27407.000,0.000,45082,2,1.000,51.000,976.000,373.000,0.382,0.000,None,<=2,0.152,0.003,0.359,0.000
2,13,35419.000,0.000,45082,2,1.000,124.000,1244.000,701.000,0.563,0.000,None,<=3,0.074,0.001,0.303,0.000
3,13,196.000,0.000,45082,2,1.000,77.000,35791.000,27791.000,0.776,0.000,None,<=5,0.143,0.011,0.259,0.000
4,13,44635.000,0.000,45082,2,1.000,51.000,701.000,237.000,0.339,0.000,None,<=5,0.143,0.004,0.259,0.000
5,13,26878.000,0.000,45082,2,1.000,64.000,217.000,124.000,0.571,0.000,None,<=7,0.128,0.003,0.218,0.000
6,13,25783.000,0.000,45082,2,1.000,64.000,2773.000,1472.000,0.531,0.000,None,<=7,0.128,0.003,0.218,0.000
7,13,41290.000,0.000,45082,2,1.000,31.000,19692.000,13173.000,0.669,0.000,None,<=9,0.108,0.014,0.192,0.000
8,13,33198.000,0.000,45082,2,1.000,115.000,42934.000,31500.000,0.734,0.000,None,<=9,0.108,0.015,0.192,0.000
9,13,23020.000,0.000,45082,2,1.000,77.000,1928.000,1182.000,0.613,0.000,None,<=12,0.126,0.008,0.170,0.000
10,13,36086.000,0.000,45082,2,1.000,108.000,7167.000,2890.000,0.403,0.000,None,<=12,0.126,0.010,0.170,0.000
11,13,3800.000,0.000,45082,2,1.000,108.000,3269.000,1727.000,0.528,0.000,None,<=12,0.126,0.010,0.170,0.000
12,13,25952.000,0.000,45082,2,1.000,107.000,3900.000,2069.000,0.530,0.000,None,<=17,0.133,0.024,0.148,0.000
13,15,19660.000,1.000,54901,51,2.000,115.000,56087.000,45558.000,0.812,5.000,<=6,<=2,0.222,0.053,0.175,0.002
14,15,21195.000,1.000,54901,51,2.000,19.000,13216.000,6506.000,0.492,5.000,<=6,<=2,0.222,0.004,0.175,0.000
15,15,7461.000,1.000,54901,51,2.000,59.000,4170.000,1984.000,0.476,5.000,<=6,<=3,0.099,0.005,0.196,0.000
16,15,2996.000,1.000,54901,51,2.000,25.000,1706.000,510.000,0.299,5.000,<=6,<=5,0.167,0.001,0.217,0.000
17,15,32463.000,1.000,54901,51,2.000,25.000,2009.000,616.000,0.307,5.000,<=6,<=5,0.167,0.001,0.217,0.000
18,16,9755.000,1.000,174840,18,13.000,23.000,9410.000,5679.000,0.603,1.000,<=2,<=2,0.222,0.005,0.161,0.000
19,16,25466.000,0.000,174840,18,13.000,115.000,13494.000,9759.000,0.723,1.000,<=2,<=2,0.152,0.028,0.260,0.001
20,16,45437.000,0.000,174840,18,13.000,107.000,4655.000,3335.000,0.716,1.000,<=2,<=3,0.074,0.020,0.304,0.000
21,18,8021.000,0.000,118860,3,6.000,54.000,27864.000,16472.000,0.591,10.000,<=11,<=2,0.152,0.012,0.044,0.000
22,18,34969.000,1.000,118860,3,6.000,83.000,54409.000,34812.000,0.640,10.000,<=11,<=2,0.222,0.075,0.130,0.002
23,18,1000.000,0.000,118860,3,6.000,18.000,2610.000,1065.000,0.408,10.000,<=11,<=3,0.074,0.000,0.037,0.000
24,18,5212.000,0.000,118860,3,6.000,123.000,24534.000,18166.000,0.740,10.000,<=11,<=5,0.143,0.050,0.042,0.000
25,18,36011.000,1.000,118860,3,6.000,84.000,26591.000,22119.000,0.832,10.000,<=11,<=5,0.167,0.036,0.176,0.001
26,18,44632.000,1.000,118860,3,6.000,115.000,75886.000,58513.000,0.771,10.000,<=11,<=7,0.130,0.027,0.219,0.001
27,18,46969.000,0.000,118860,3,6.000,24.000,21431.000,14607.000,0.682,10.000,<=11,<=7,0.128,0.081,0.057,0.001
28,18,27966.000,0.000,118860,3,6.000,123.000,137057.000,105409.000,0.769,10.000,<=11,<=9,0.108,0.052,0.092,0.001
29,18,38985.000,1.000,118860,3,6.000,92.000,4011.000,2365.000,0.590,10.000,<=11,<=9,0.099,0.014,0.270,0.000

## Filing Bayess Factors for intermediate orders
We now split into three dataframes. Two of them are reordered == 1 and == 0
This is done because Bayes Factor (BF) is calculated differently for each case.  
We then append this to a table called 'comb_last' which will be using for modelling Bayes Factor depending on whether the product was ordered or not.

In [14]:

# Calculate bf0 for products when first purchased aka reordered=0
comb0 = pd.DataFrame()
comb0 = comb[comb['reordered']==0]
comb0.loc[:,'first_order'] = comb0['order_number']
# now every product that was ordered has a posterior in usr.
comb0.loc[:,'beta'] = 1
comb0.loc[:,'bf'] = (comb0.loc[:,'prior_p'] * comb0.loc[:,'p']/(1 - comb0.loc[:,'p'])) # bf1
# Small 'slight of hand' here. comb0.bf is really the first posterior and second prior.

# Calculate beta and BF1 for the reordered products
comb1 = pd.DataFrame()
comb1 = comb[comb['reordered']==1]

comb1.loc[:,'beta'] = (1 - .05*comb1.loc[:,'days_since_prior_order']/30)
comb1.loc[:,'bf'] = (1 - comb1.loc[:,'p'])/comb1.loc[:,'p'] # bf0


comb_last = pd.DataFrame()
comb_last = pd.concat([comb0, comb1], axis=0).reset_index(drop=True)

comb_last = comb_last[['reordered', 'user_id', 'order_id', 'product_id','reorder_c','order_number',
                       'bf','beta','atco_fac_p', 'aisle_fac_p', 'recount_fac_p']]
comb_last = comb_last.sort_values((['user_id', 'order_number', 'bf']))

pd.set_option('display.float_format', lambda x: '%.6f' % x)
comb_last.head()

/share/apps/python3/3.5.3/intel/lib/python3.5/site-packages/pandas-0.19.2-py3.5-linux-x86_64.egg/pandas/core/indexing.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/share/apps/python3/3.5.3/intel/lib/python3.5/site-packages/pandas-0.19.2-py3.5-linux-x86_64.egg/pandas/core/indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,reordered,user_id,order_id,product_id,reorder_c,order_number,bf,beta,atco_fac_p,aisle_fac_p,recount_fac_p
1941951,0.000000,3,1374495,24810.000000,0.000000,1,0.000173,1.000000,0.108048,0.015029,0.191657
1941952,0.000000,3,1374495,32402.000000,0.000000,1,0.000217,1.000000,0.125739,0.015710,0.169924
1941947,0.000000,3,1374495,39190.000000,0.000000,1,0.000339,1.000000,0.142619,0.016031,0.258537
1941950,0.000000,3,1374495,39922.000000,0.000000,1,0.000547,1.000000,0.108048,0.051583,0.191657
1941944,0.000000,3,1374495,17668.000000,0.000000,1,0.000647,1.000000,0.152094,0.020466,0.359063

In [15]:
first_order = pd.DataFrame()
first_order = comb_last[comb_last.reordered == 0]
first_order.rename(columns = {'order_number':'first_o'}, inplace = True)
first_order.loc[:,'last_o'] = comb_last.groupby(['user_id'])['order_number'].transform(max)
first_order = first_order[['user_id','product_id','first_o','last_o']]

comb_last = pd.merge(comb_last, first_order, on = ('user_id', 'product_id'), how = 'left')
comb_last.head()

#com = pd.DataFrame()
#com = comb_last[(comb_last.user_id == 3) & (comb_last.first_o < comb_last.order_number)]
#com.groupby([('order_id', 'product_id', 'order_number')])['bf'].agg(np.sum).head(50)

/share/apps/python3/3.5.3/intel/lib/python3.5/site-packages/pandas-0.19.2-py3.5-linux-x86_64.egg/pandas/core/frame.py:2834: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)
/share/apps/python3/3.5.3/intel/lib/python3.5/site-packages/pandas-0.19.2-py3.5-linux-x86_64.egg/pandas/core/indexing.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/share/apps/python3/3.5.3/intel/lib/python3.5/site-packages/pandas-0.19.2-py3.5-linux-x86_64.egg/pandas/core/indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,reordered,user_id,order_id,product_id,reorder_c,order_number,bf,beta,atco_fac_p,aisle_fac_p,recount_fac_p,first_o,last_o
0,0.000000,3,1374495,24810.000000,0.000000,1,0.000173,1.000000,0.108048,0.015029,0.191657,1,12
1,0.000000,3,1374495,32402.000000,0.000000,1,0.000217,1.000000,0.125739,0.015710,0.169924,1,12
2,0.000000,3,1374495,39190.000000,0.000000,1,0.000339,1.000000,0.142619,0.016031,0.258537,1,12
3,0.000000,3,1374495,39922.000000,0.000000,1,0.000547,1.000000,0.108048,0.051583,0.191657,1,12
4,0.000000,3,1374495,17668.000000,0.000000,1,0.000647,1.000000,0.152094,0.020466,0.359063,1,12

comb_last.to_csv('comb_last.csv')

comb_last = pd.read_csv('comb_last.csv', index_col=0)

## Visualizing next steps
$$ Bayes\ Factor\ (BF) = \frac{p\ (e\ |\ reordered)}{p\ (e)} $$  
The probability of evidence p(e) is considered fixed so that a very simple relationship emerges: Posterior ~= p(e | reordered) x Prior!!! where ~= is "proportional to". This is a very simple recursive method to Update a Prior. 
$$ Posterior\ ~=\ BFn\ *\ BFn-1\ *\ ...\ *\ BF1\ *\ Prior $$

To get the final list of possible products a user may reorder, we get a full list of the orders and items ordered. Each product begins with some Prior and this Prior is Updated with each order.  

This helpful spreadsheet shows four orders and the calculations for p(reordered) (aka posterior) as an example.
We now try to emulate this for the entire dataset.
![Sample](http://elmtreegarden.com/wp-content/uploads/2017/03/Process-on-four-orders.gif)  

Visualizing the same on our dataset. Let's consider user_id == 3. The bayes factors for the orders placed are calculated in the above cells. We now find a way to emulate intermediate bayes factors.  

First we obtain the bayes factors for the first orders of each product.

In [16]:
temp = pd.pivot_table(comb_last[(comb_last.user_id == 3) & (comb_last.first_o == comb_last.order_number)],
                     values = 'bf', index = ['user_id', 'product_id'],
                     columns = 'order_number', dropna=False)
temp.head(10)

order_number               1        2        3        4   5        6   7   8   \
user_id product_id
3       248.000000        nan 0.000053      nan      nan nan      nan nan nan
        1005.000000       nan      nan      nan      nan nan      nan nan nan
        1819.000000       nan      nan      nan 0.000195 nan      nan nan nan
        7503.000000       nan      nan 0.000166      nan nan      nan nan nan
        8021.000000       nan 0.000186      nan      nan nan      nan nan nan
        9387.000000  0.003135      nan      nan      nan nan      nan nan nan
        12845.000000      nan      nan      nan 0.000139 nan      nan nan nan
        14992.000000      nan      nan      nan      nan nan 0.000719 nan nan
        15143.000000 0.000984      nan      nan      nan nan      nan nan nan
        16797.000000 0.002200      nan      nan      nan nan      nan nan nan

order_number               10
user_id product_id
3       248.000000        nan
        1005.000000  0.000066
        1819.000000       nan
        7503.000000       nan
        8021.000000       nan
        9387.000000       nan
        12845.000000      nan
        14992.000000      nan
        15143.000000      nan
        16797.000000      nan

We see in the above pivot table that only orders where the products exist contain probabilities of events. We now fill this with bayes factors.  
Padding this value to add bayes factor where there is no reorder (bf0)

In [17]:
temp = temp.fillna(method='pad', axis=1).fillna(1)
temp.head(10)

order_number               1        2        3        4        5        6   \
user_id product_id
3       248.000000   1.000000 0.000053 0.000053 0.000053 0.000053 0.000053
        1005.000000  1.000000 1.000000 1.000000 1.000000 1.000000 1.000000
        1819.000000  1.000000 1.000000 1.000000 0.000195 0.000195 0.000195
        7503.000000  1.000000 1.000000 0.000166 0.000166 0.000166 0.000166
        8021.000000  1.000000 0.000186 0.000186 0.000186 0.000186 0.000186
        9387.000000  0.003135 0.003135 0.003135 0.003135 0.003135 0.003135
        12845.000000 1.000000 1.000000 1.000000 0.000139 0.000139 0.000139
        14992.000000 1.000000 1.000000 1.000000 1.000000 1.000000 0.000719
        15143.000000 0.000984 0.000984 0.000984 0.000984 0.000984 0.000984
        16797.000000 0.002200 0.002200 0.002200 0.002200 0.002200 0.002200

order_number               7        8        10
user_id product_id
3       248.000000   0.000053 0.000053 0.000053
        1005.000000  1.000000 1.000000 0.000066
        1819.000000  0.000195 0.000195 0.000195
        7503.000000  0.000166 0.000166 0.000166
        8021.000000  0.000186 0.000186 0.000186
        9387.000000  0.003135 0.003135 0.003135
        12845.000000 0.000139 0.000139 0.000139
        14992.000000 0.000719 0.000719 0.000719
        15143.000000 0.000984 0.000984 0.000984
        16797.000000 0.002200 0.002200 0.002200

We now get the bayes factors for when reorders are 1(bf1), so we can update the earlier dataframe with.

In [18]:
pd.pivot_table(comb_last[comb_last.first_o <= comb_last.order_number],
                              values = 'bf', index = ['user_id', 'product_id'],
                              columns = 'order_number').head(10)

order_number               1        2        3           4          5   \
user_id product_id
3       248.000000        nan 0.000053      nan         nan        nan
        1005.000000       nan      nan      nan         nan        nan
        1819.000000       nan      nan      nan    0.000195        nan
        7503.000000       nan      nan 0.000166         nan        nan
        8021.000000       nan 0.000186      nan         nan        nan
        9387.000000  0.003135      nan      nan 1140.546997 207.747036
        12845.000000      nan      nan      nan    0.000139        nan
        14992.000000      nan      nan      nan         nan        nan
        15143.000000 0.000984      nan      nan         nan        nan
        16797.000000 0.002200      nan      nan         nan        nan

order_number                  6           7   8          9        10 ...  90  \
user_id product_id                                                   ...
3       248.000000           nan         nan nan        nan      nan ... nan
        1005.000000          nan         nan nan        nan 0.000066 ... nan
        1819.000000  5170.703379 6002.580877 nan        nan      nan ... nan
        7503.000000          nan         nan nan        nan      nan ... nan
        8021.000000          nan         nan nan        nan      nan ... nan
        9387.000000   431.317144  517.759206 nan        nan      nan ... nan
        12845.000000         nan         nan nan        nan      nan ... nan
        14992.000000    0.000719  325.882378 nan        nan      nan ... nan
        15143.000000         nan         nan nan        nan      nan ... nan
        16797.000000         nan  239.540761 nan 330.398809      nan ... nan

order_number          91  92  93  94  95  96  97  98  99
user_id product_id
3       248.000000   nan nan nan nan nan nan nan nan nan
        1005.000000  nan nan nan nan nan nan nan nan nan
        1819.000000  nan nan nan nan nan nan nan nan nan
        7503.000000  nan nan nan nan nan nan nan nan nan
        8021.000000  nan nan nan nan nan nan nan nan nan
        9387.000000  nan nan nan nan nan nan nan nan nan
        12845.000000 nan nan nan nan nan nan nan nan nan
        14992.000000 nan nan nan nan nan nan nan nan nan
        15143.000000 nan nan nan nan nan nan nan nan nan
        16797.000000 nan nan nan nan nan nan nan nan nan

[10 rows x 99 columns]

Finally, update to the bf1 values to the earlier padded table.

In [19]:
temp.update(pd.pivot_table(comb_last[comb_last.first_o <= comb_last.order_number],
                              values = 'bf', index = ['user_id', 'product_id'],
                              columns = 'order_number'))
temp.head(10)

order_number               1        2        3           4          5   \
user_id product_id
3       248.000000   1.000000 0.000053 0.000053    0.000053   0.000053
        1005.000000  1.000000 1.000000 1.000000    1.000000   1.000000
        1819.000000  1.000000 1.000000 1.000000    0.000195   0.000195
        7503.000000  1.000000 1.000000 0.000166    0.000166   0.000166
        8021.000000  1.000000 0.000186 0.000186    0.000186   0.000186
        9387.000000  0.003135 0.003135 0.003135 1140.546997 207.747036
        12845.000000 1.000000 1.000000 1.000000    0.000139   0.000139
        14992.000000 1.000000 1.000000 1.000000    1.000000   1.000000
        15143.000000 0.000984 0.000984 0.000984    0.000984   0.000984
        16797.000000 0.002200 0.002200 0.002200    0.002200   0.002200

order_number                  6           7        8        10
user_id product_id
3       248.000000      0.000053    0.000053 0.000053 0.000053
        1005.000000     1.000000    1.000000 1.000000 0.000066
        1819.000000  5170.703379 6002.580877 0.000195 0.000195
        7503.000000     0.000166    0.000166 0.000166 0.000166
        8021.000000     0.000186    0.000186 0.000186 0.000186
        9387.000000   431.317144  517.759206 0.003135 0.003135
        12845.000000    0.000139    0.000139 0.000139 0.000139
        14992.000000    0.000719  325.882378 0.000719 0.000719
        15143.000000    0.000984    0.000984 0.000984 0.000984
        16797.000000    0.002200  239.540761 0.002200 0.002200

## Interating through the dataset
We now add the above Bayes Factor procedure to calculate what the spreadsheet explains through all of the 200,000+ users in the dataset. Once that is calculated, we multiply all the factors along the products axis to calculate the posterior.

In [20]:
import logging
logging.basicConfig(filename='bayes.log',level=logging.DEBUG)
logging.debug("Started Posterior calculations")
print("Started Posterior calculations")

pred = pd.DataFrame(columns=['user_id', 'product_id'])
# comb_last_temp = pd.DataFrame()
# com = pd.DataFrame()

for uid in comb_last.user_id.unique():
    if uid % 1000 == 0:
        print("Posterior calculated until user %d" % uid)
        logging.debug("Posterior calculated until user %d" % uid)
    
#     del comb_last_temp
    comb_last_temp = pd.DataFrame()
    comb_last_temp = comb_last[comb_last['user_id'] == uid].reset_index()
    
#     del com
    com = pd.DataFrame()
    com = pd.pivot_table(comb_last_temp[comb_last_temp.first_o == comb_last_temp.order_number],
                         values = 'bf', index = ['user_id', 'product_id'],
                         columns = 'order_number', dropna=False)
    com = com.fillna(method='pad', axis=1).fillna(1)
    com.update(pd.pivot_table(comb_last_temp[comb_last_temp.first_o <= comb_last_temp.order_number],
                              values = 'bf', index = ['user_id', 'product_id'],
                              columns = 'order_number'))

    com.reset_index(inplace=True)
    com['posterior'] = com.product(axis=1)
    
    pred = pred.append(com.sort_values(by=['posterior'], ascending=False).head(10)    \
                       .groupby('user_id')['product_id'].apply(list).reset_index())    

print("Posterior calculated for all users")
logging.debug("Posterior calculated for all users")
pred = pred.rename(columns={'product_id': 'products'})
pred.head()

Started Posterior calculations
Posterior calculated until user 5000
Posterior calculated until user 7000
Posterior calculated until user 8000
Posterior calculated until user 16000
Posterior calculated until user 22000
Posterior calculated until user 24000
Posterior calculated until user 29000
Posterior calculated until user 30000
Posterior calculated until user 31000
Posterior calculated until user 34000
Posterior calculated until user 35000
Posterior calculated until user 39000
Posterior calculated until user 40000
Posterior calculated until user 42000
Posterior calculated until user 43000
Posterior calculated until user 46000
Posterior calculated until user 47000
Posterior calculated until user 56000
Posterior calculated until user 57000
Posterior calculated until user 61000
Posterior calculated until user 66000
Posterior calculated until user 69000
Posterior calculated until user 70000
Posterior calculated until user 72000
Posterior calculated until user 73000
Posterior calculated until user 74000
Posterior calculated until user 78000
Posterior calculated until user 79000
Posterior calculated until user 81000
Posterior calculated until user 82000
Posterior calculated until user 86000
Posterior calculated until user 88000
Posterior calculated until user 89000
Posterior calculated until user 93000
Posterior calculated until user 95000
Posterior calculated until user 97000
Posterior calculated until user 98000
Posterior calculated until user 102000
Posterior calculated until user 103000
Posterior calculated until user 107000
Posterior calculated until user 108000
Posterior calculated until user 109000
Posterior calculated until user 110000
Posterior calculated until user 114000
Posterior calculated until user 115000
Posterior calculated until user 117000
Posterior calculated until user 120000
Posterior calculated until user 122000
Posterior calculated until user 123000
Posterior calculated until user 125000
Posterior calculated until user 127000
Posterior calculated until user 129000
Posterior calculated until user 131000
Posterior calculated until user 143000
Posterior calculated until user 151000
Posterior calculated until user 152000
Posterior calculated until user 157000
Posterior calculated until user 159000
Posterior calculated until user 162000
Posterior calculated until user 167000
Posterior calculated until user 168000
Posterior calculated until user 172000
Posterior calculated until user 173000
Posterior calculated until user 175000
Posterior calculated until user 177000
Posterior calculated until user 179000
Posterior calculated until user 183000
Posterior calculated until user 184000
Posterior calculated until user 186000
Posterior calculated until user 188000
Posterior calculated until user 192000
Posterior calculated until user 193000
Posterior calculated until user 197000
Posterior calculated until user 200000
Posterior calculated until user 201000
Posterior calculated until user 202000
Posterior calculated until user 204000
Posterior calculated until user 205000
Posterior calculated until user 206000
Posterior calculated for all users

    user_id                                           products
0  3.000000  [39190.0, 18599.0, 21903.0, 47766.0, 9387.0, 2...
0  4.000000  [26576.0, 25623.0, 21573.0, 25146.0, 37646.0, ...
0  6.000000  [21903.0, 25659.0, 8424.0, 49401.0, 38293.0, 4...
0 11.000000  [27959.0, 8309.0, 35948.0, 14947.0, 17794.0, 1...
0 12.000000  [10863.0, 7076.0, 13176.0, 14992.0, 49683.0, 3...

## Preparing for submission
We get the recent order for the user from the test dataset and query the order ID column along with the product IDs. We then format the product IDs as per the submission sample in the kaggle competition rules and export the same to a CSV.

In [21]:
pred = pred.merge(test, on='user_id', how='left')[['order_id', 'products']]
pred['products'] = pred['products'].apply(lambda x: [int(i) for i in x])    \
                    .astype(str).apply(lambda x: x.strip('[]').replace(',', ''))
pred.head()

   order_id                                           products
0   2774568  39190 18599 21903 47766 9387 22035 43961 1005 ...
1    329954  26576 25623 21573 25146 37646 19057 22199 1776...
2   1528013  21903 25659 8424 49401 38293 45007 11068 27521...
3   1376945  27959 8309 35948 14947 17794 13176 20383 24799...
4   1356845  10863 7076 13176 14992 49683 37687 17794 48364...

In [22]:
pred.to_csv('predictions.csv', index=False)